<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<p>
  <strong>Program:</strong>
  <%= @comment.program %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event %>
</p>
