<h3>Welcome to DIASPARK website</h3>

<b>About us:</b> 

 Diaspark follows a 360-degree business approach. Our innovative technology solutions bring in efficiencies and empower our clients with the most advanced technologies to ensure optimal ROI.

This approach is backed by our 16years of successful and extensive solution-implementation experience with best-of-the-breed customers ranging from Billion-dollar enterprises, Mid-sized and SMEs. Our quality processes are endorsed by the industry's leading certification standard SEI-CMMI.

The 650+ members of the Diaspark family are united by the organization's shared values and an unwavering commitment to quality.<br>


<br><b>Address:</b>
         <br>402,block-A new rani bagh
             khandwa road, indore.</br>

<br><b>Contact Us</b></br>

    U.S. -Edison- Corporate Office
    Corporate Office
    200 Metroplex Drive, Edison, NJ, 08817
    Tel: +1 732 248 8333 Ext. 6740
    Toll Free : - 1-800-900-2200
    Fax: +1 732 248 8334</br>
    </br>U.S. - New York – Regional office
    333, 7th Avenue, New York, NY, 10001
    Tel: +1 212 972 2740
    Toll Free : - 1-800-900-2200
    Fax: +1 732 248 8334</br>
    </br>India – Indore – Global Delivery Centre I
    Labh Ganga Building
    582, M.G. Road
    Indore – 452003
    Madhya Pradesh, India
    Tel: +91 731 4756000, +91 731 4273300
    Fax: +91 731 2548555</br>
    </br>Sales Enquiry : +91 731 4273300
    India - Pune - Global Delivery Centre II
    Unit # 103, Level 1, Pentagon Tower P-4, Magarpatta City,
    Hadapsar, Pune - 411013
    Maharashtra, India
    Tel: +91 (0) 20 32405866</br>


<h2>Enjoy various cultural activies at DiaSpark</h2></br>
        
      <%= link_to 'Programs', programs_path %></br>

      <%= link_to 'Events', events_path %></br>